@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: flex-start;
}

.left-nav {

  > ul {
    > li:hover {
      background-color: $lightest-gray;
    }
  }

  span {
    margin: 5px;
  }
}

.right-nav  {
  > ul {
    > li {
      
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    font-size: 32px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    