/* Define application-wide selectors here!*/
@use "../variables" as *;

html {
  position: relative;
  height: 100%;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: $serif;
  font-size: 12px;
}

// button {
//   background-color: rgb(69, 149, 235);
//   border-color: #e2e2e2;
//   color: #333;
//   font-weight:
//   padding
//   border-radius:
//   transition:
//   font-family:
//   text-transform:
//   font-size:
//   text-align:
// }

.right-btns {
  background-color: #6288A5;
  margin: 0px 7px 0px 3px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  border: 1px solid rgb(50, 104, 145);
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 11px 12px 8px;
  text-transform: uppercase;
  display: inline-block;
  color: rgb(255, 255, 255)
}

// button:hover {
// background-color:
// border-color:
// }

/*
	Header Rules
*/

hr {
  border: 0;
  height: 1px;
  background-color: $light-gray;
}

.hr-top,
.hr-bottom {
  width: 100%;
  margin: 0;
}

.hr-top {
  height: 2px;
  margin-bottom: 1px;
}

a:hover {
  background-color: $lightest-gray;
}
