<header class="masthead">
    <nav class="language-nav">
        <ul>
            <a href="#" class="masthead-links"><li><button type="button"><b>CSS</b></button></li></a>
            <a href="#" class="masthead-links"><li><button type="button">HTML</button></li></a>
            <a href="#" class="masthead-links"><li><button type="button">Javascript</button></li> </a>
            <a href="#" class="masthead-links"><li><button type="button">Ruby</button></li></a>
        </ul>
    </nav>
    <img src="assets/AA_Times_Logo.png" class="logo">
    <ul class="info">
        <li>Tuesday, October 18, 2016</li>
        <li>Today’s Paper</li>
        <li>Video</li>
        <li>77°F</li>
        <li>AAO +100%</li>
    </ul>


</header>